extends layout

block content

  h1 Invernadero: #{greenhouse.name}
  p #{greenhouse.location}

  div(style='margin-left:20px;margin-top:20px')

    h4 Plantas

    dl
      each plant in greenhouse_plants
        dt
          a(href=plant.url) #{plant.name}
        dd Precio: #{plant.price}

      else
        p Este invernadero no tiene plantas.
  hr
  if(currentUser.email==='admin@gmail.com')
    p
      a(href=greenhouse.url+'/delete') Borrar invernadero
    p
      a(href=greenhouse.url+'/update') Actualizar invernadero
