extends layout

block content
  h1 #{title}: #{greenhouse.name}
  p= greenhouse.location

  if greenhouse_plants.length

    p #[strong Borra estas plantas antes de intentar eliminar el invernadero.]

    div(style='margin-left:20px;margin-top:20px')

      h4 Plantas

      dl
      each plant in greenhouse_plants
        dt
          a(href=plant.url) #{plant.name}
        dd #{plant.price}

  else
    p ¿Estás seguro de que quieres eliminar este invernadero?

    form(method='POST' action='')
      div.form-group
        input#greenhouseid.form-control(type='hidden',name='greenhouseid', required='true', value=greenhouse._id )

      button.btn.btn-primary(type='submit') Eliminar
