extends layout

block content
  h1 Title: #{plant.name}

  p #[strong Greenhouse:]
    a(href=plant.greenhouse.url) #{plant.greenhouse.name}
  p #[strong Price:] #{plant.price}
  p #[strong Type:]
    each val, index in plant.type
      a(href=val.url) #{val.name}
      if index < plant.type.length - 1
        |,

  div(style='margin-left:20px;margin-top:20px')
    h4 Copies

    each val in plant_instances
      hr
      if val.status=='Disponible'
        p.text-success #{val.status}
      else if val.status=='Mantenimiento'
        p.text-danger #{val.status}
      else
        p.text-warning #{val.status}
      p #[strong Id:]
        a(href=val.url) #{val._id}

    else
      p There are no copies of this plant in the library.
  hr
  p
    a(href=plant.url+'/delete') Delete plant
  p
    a(href=plant.url+'/update') Update plant

