extends layout

block content
  h1 #{title}: #{plant.name}
  p= plant.greenhouse

  if plant_instances.length

    p #[strong Borra el stock antes de intentar eliminar la planta.]

    div(style='margin-left:20px;margin-top:20px')

      h4 Copias de plantas

      dl
      each instance in plant_instances
        dt
          a(href=instance.url) #{instance.imprint}
        dd #{plant.status}

  else
    p ¿Estás seguro de que quieres eliminar esta planta?

    form(method='POST' action='')
      div.form-group
        input#plantid.form-control(type='hidden',name='plantid', required='true', value=plant._id )

      button.btn.btn-primary(type='submit') Eliminar
