extends layout

block content
  h1 Título: #{plant.name}

  p #[strong Invernadero: ]
    a(href=plant.greenhouse.url) #{plant.greenhouse.name}
  p #[strong Precio: ] #{plant.price}
  p #[strong Tipo: ]
    each val, index in plant.type
      a(href=val.url) #{val.name}
      if index < plant.type.length - 1
        |,

  div(style='margin-left:20px;margin-top:20px')
    h4 Copias

    each val in plant_instances
      hr
      if val.status=='Disponible'
        p.text-success #{val.status}
      else if val.status=='Mantenimiento'
        p.text-danger #{val.status}
      else
        p.text-warning #{val.status}
      p #[strong Id: ]
        a(href=val.url) #{val._id}

    else
      p No existe stock de esta planta.
  hr
  if(currentUser.email==='admin@gmail.com')
    p
      a(href=plant.url+'/delete') Borrar planta
    p
      a(href=plant.url+'/update') Eliminar planta

