extends layout

block content

  h1 ID: #{plantinstance._id}

  p #[strong Title:]
    a(href=plantinstance.plant.url) #{plantinstance.plant.name}
  p #[strong Imprint:] #{plantinstance.imprint}

  p #[strong Status:]
    if plantinstance.status=='Disponible'
      span.text-success #{plantinstance.status}
    else if plantinstance.status=='Mantenimiento'
      span.text-danger #{plantinstance.status}
    else
      span.text-warning #{plantinstance.status}
  hr
  if(currentUser.email==='admin@gmail.com')
    p
      a(href=plantinstance.url+'/delete') Delete instance
    p
      a(href=plantinstance.url+'/update') Update instance

