extends layout

block content
  h1 #{title}: #{type.name}

  if type_plants.length

    p #[strong Borra estas plantas antes de intentar eliminar el tipo]

    div(style='margin-left:20px;margin-top:20px')

      h4 Plants

      dl
      each plant in type_plants
        dt
          a(href=plant.url) #{plant.name}
        dd #{plant.price}

  else
    p ¿Estás seguro de que quieres eliminar este tipo?

    form(method='POST' action='')
      div.form-group
        input#typeid.form-control(type='hidden',name='typeid', required='true', value=type._id )

      button.btn.btn-primary(type='submit') Eliminar
