extends layout

block content

  h1 Tipo: #{type.name}

  div(style='margin-left:20px;margin-top:20px')

    h4 Plantas

    dl
      each plant in type_plants
        dt
          a(href=plant.url) #{plant.id}
        dd PRECIO: #{plant.price}

      else
        p Este tipo no tiene plantas
  hr
  if(currentUser.email==='admin@gmail.com')
    p
      a(href=type.url+'/delete') Borrar tipo
    p
      a(href=type.url+'/update') Actualizar tipo
